<fieldset>
    <form [formGroup]="bookForm">
    <table>
        <tr>
            <td><label>Title:</label></td>
            <td><input type="text" formControlName="title" />
            </td>
        </tr>
        <tr>
            <td><label>Author:</label></td>
            <td><input type="text" formControlName="author" /></td>
        </tr>
        <tr>
            <td><label>ISBN:</label></td>
            <td><input type="text" formControlName="ISBN" /></td>  
        </tr>
    </table>
</form>
</fieldset>

