<div class="container is-max-desktop">
	<table class="table is-bordered is-striped is-narrow is-fullwidth is-striped">
		<thead>
			<tr class="th is-selected">
				<th class="is-warning has-text-black">Title</th>
				<th class="is-warning has-text-black">Renter Name</th>
				<th class="is-warning has-text-black">Status</th>
				<th class="is-warning has-text-black has-text-centered">Update</th>
				<th class="is-warning has-text-black has-text-centered">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let rents of filteredRentsList">
				<td>{{ rents.book.title }}</td>
				<td>{{ rents.renter.name }}</td>
				<td>{{ rents.status }}</td>
				<td class="has-text-centered">
					<button class="button is-warning is-light"><i class="fa fa-pencil"></i></button>
				</td>
				<td class="has-text-centered">
					<button class="button is-danger is-light" (click)="deleteClick(rents)"><i class="fa fa-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
